<html>
	<head>

	 <title>print</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	 <style>
		body{
			margin: 10px;
		}
		.final{
			width: 400px;
			min-height: 400px;
			margin: 0 auto;
			border: 1px solid gray;
			text-align: center;
			padding-bottom: 40px;
		}
		#qrcode{
			margin: 10px auto;
		}
		.orange{
			color: orange;
			font-weight: bolder;
		}
		.blue{
			color: #66ccff;
			font-weight: bolder;
		}
		.green{
			color: green;
			font-weight: bolder;
		}
		#location{
			margin-left: 30px;
			margin-right: 30px;
			text-align: center;
		}
		#logo{
			width: 70px;
		}
	 </style>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/qrcode.js"></script>
	<script>
		$(document).ready(function(){
			$('#showtext').hide();
			$('#changeloc').on('input', function() {
	   			$('#loc').text($('#changeloc').val());
			});
			$('#changename').on('input', function() {
	   			$('#displayname').text($('#changename').val());
			});
			$('#hide').click(function(){
				$('#control').hide();
				$('#showtext').show();
			})
			$('#showtext').click(function(){
				$('#control').show();
				$('#showtext').hide();
			})
		})
		
	</script>
	</head>
	<body>
		<nav class="navbar navbar-default">
		    <div class="container-fluid">
		      <div class="navbar-header">
		        <a class="navbar-brand" href="#">Plant Management System</a>
		      </div>
		      <ul class="nav navbar-nav">
		        <li><a href="/">Home</a></li>
		        <li><a href="/new">Create New Plants</a></li>
		        <li><a href="/all">Display All Plants</a></li>
		        <li class="active"><a href="#">Print Label</a></li>
		        <li><a href="/showSnapshot">Snapshot</a></li>
		      </ul>
		    </div>
		</nav>
		<div class = "form-group" id = "control">
			<label for="changeloc">edit name</label>
			<input type="textarea" rows = "3" id = "changename" placeholder = "type here...">
			<label for="changeloc">edit location</label>
			<input type="textarea" rows = "3" id = "changeloc" placeholder = "type here...">
			<button id = "hide" class = "btn btn-default"><</button>
		</div>
		<button id = "showtext" class = "btn btn-default">></button>
		<div class = "block">
			<input id="name" type="hidden" value="<%=plant.name%>" style="width:80%" / readonly><br />

			<div class = "final">
				<img id = "logo" src="/img/logo.png" alt="Taylor Family Foundation">
				<div><h3 id = "displayname"><%=plant.name%></h3></div>
				<!-- <img src="http://api.qrserver.com/v1/create-qr-code/?data=<%=plant.name%>&size=150x150" alt="QR of <%=plant.name%>" />
				<br> -->
				<div id="qrcode" style="width:100px; height:100px; margin-top:15px;"></div>
				<div id = "origin">
					<span class = "orange">Origin: </span><%=plant.origin%>
				</div>
				<div id = "whenToPlant">
					<span class = "blue">When to Plant: </span><%=plant.whenToPlant%>
				</div>
				<div id = "location">
					<span class = "green">Location: </span>
					<span id = "loc"><%=plant.location%></span>
				</div>
			</div>

			

			<script type="text/javascript">
			var qrcode = new QRCode(document.getElementById("qrcode"), {
				width : 100,
				height : 100
			});
			
			function makeCode () {
				var elText = document.getElementById("name");
			
				if (!elText.value) {
					alert("Input a text");
					elText.focus();
					return;
				}
			
				qrcode.makeCode(elText.value);
			}
			
			makeCode();
			
			$("#text").
				on("blur", function () {
					makeCode();
				}).
				on("keydown", function (e) {
					if (e.keyCode == 13) {
						makeCode();
					}
				});
			</script>


		</div>

	</body>
</html
